* {
    font-family: Arial, sans-serif;
    background-color: #eaeaea;
    text-align: left;
    padding: 2px;
}

.line {
    color: #231751;
    font-size: 50px;
}

.word {
    color: #231751;
    font-size: 30px;
}

.meeting {
    background-color: #bc2229;
    color: white;
    background-color: #bc2229;
    color: white;
    padding: 15px;
    border-radius: 14%;
    border: 10px;
    margin-right: 15px;
    font-size: 23px;
}

.checkvar {
    background-color: #eaeaea;
    color: #231751;
    padding: 12px;
    border-radius: 14%;
    margin-right: 15px;
    font-size: 23px;
}